.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.carousel__Image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__Button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel__Button--left {
  left: 10px;
}

.carousel__Button--right {
  right: 10px;
}