.Auction-Container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.Auction-Container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.auction-content {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: flex-start;
}
.auction-content .auction-carrousel {
    flex: 1 1 50%;
    max-width: 50%;
    margin-right: 10px; /* Reduce el margen derecho para acercarlo al div de auction-text */
}

.auction-text {
    flex: 1 1 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auction-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.auction-text .red-text {
    color: #ff0000; /* Texto en rojo */
}

.auction-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

@media (max-width: 768px) {
    .auction-content {
        flex-direction: column;
    }

    .auction-content .auction-carrousel,
    .auction-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .auction-text {
        margin-top: 20px;
    }
}