.menu-Container{
    align-items: center;
}
.menu-Container a {
    text-decoration: none;
    font-size: 1.5rem;
}
.menu-List{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu-Item{
    padding: 10px;
    margin: 10% 10px;
}

.menu-Item:hover{
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .menu-Container{
        display: block;
        margin: 10px;
    }
    .menu-List{
        display: block;
        color: white;
    }
    .menu-Item{
        padding: 10px 0;
        text-align: center;
        color: white;
        margin: 10px 0; 
    }
    
}